.titlu
{
	margin-top: 100px;
    text-align: center;
    color:#000099;
    font-size: 40px;
    width: 100%;
    height: 50px;
    margin: 0px;
    padding: 0px; 
}

.textButon
{
    margin-top:100px;
    margin-left: 550px;
}

#buton
{
    background-color: #999999; 
    font-size: 16px;
    width: 10%;
    border: 3px solid #999999;
    padding: 10px; 
}

#cate_medicamente
{
	font-size: 16px;
    width: 8%;
    border: 3px solid #000099;
    padding: 10px;
}

#medicament
{
    font-size: 16px;
    width: 40%;
    border: 3px solid #000099;
    padding: 10px;
}

.floating-box 
{   
    display: inline-block;
	margin-top: 60px;
	margin-left: 60px;
    font-size: 20px;
    border: 3px solid #000099; 
    text-align: center; 
}

.poza
{
	float: left;
    margin-top: 100px;
    margin-left: 300px;
    border: 3px solid #000099;  
}

.descriere
{
	background-color: #ffffff;
    font-size: 20px;
    margin-top: 100px;
    margin-left: 600px;
    border: 3px solid #000099;  
    text-align: justify; 
    padding: 20px;
}

.disponibilitate
{
	font-size: 20px;
    width: 400px;
    height: 120px;
    margin-left: 700px;
    border: 3px solid #000099; 
}
